.pagination-container {
  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;

    & > li {
      display: inline;
      & > a,
      & > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;

        &.active {
          color: #fbb317;
          border-color: #fbb317;
        }
      }
    }
    &>.disabled>a, &>.disabled>a:focus, &>.disabled>a:hover, &>.disabled>span, &>.disabled>span:focus, &>.disabled>span:hover {
      color: #777;
      cursor: not-allowed;
      background-color: #fff;
      border-color: #ddd;
    }

  }
}
