<template>
  <div class="pagination-container">
    <ul class="pagination">
      <li class="PagedList-skipToFirst" v-if="pages[0] > 1">
        <a href="/BoardQuestions?page=1">««</a>
      </li>
      <li class="PagedList-skipToPrevious" v-if="settings.pageIndex !== 1">
        <a rel="prev">«</a>
      </li>
      <li v-for="page in pages">
        <span class="active" v-if="settings.pageIndex === page">{{page}}</span>
        <a role="button" class="" v-else>{{page}}</a>
      </li>
      <li class="PagedList-skipToNext" v-if="settings.pageIndex !== settings.totalPageCount">
        <a rel="next">»</a>
      </li>
      <li class="PagedList-skipToLast" v-if="settings.pageIndex < settings.totalPageCount">
        <a >»»</a>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'pagination',
    props: {
      limit: {
        type: Number
      },
      settings: {
        type: Object,
        required: true,
      }
    },
    watch: {
    },
    data: function () {
      return {
      }
    },
    computed: {
      pages () {
        let totalPageCount = this.settings.totalPageCount;
        let limit = this.limit;
        let left, right, pageIndex;
        pageIndex = left = right =this.settings.pageIndex;

        let index = 1;
        while (index <= limit - 1) {
          if (left > 1){
            left--;
            index++;
          }
          if (right < totalPageCount) {
            right++;
            index++
          }
        }

        let range = [];
        for (let i = left; i <= right; i++) {
          range.push(i);
        }
        return range;
      },
      prev () {
        return this.settings.pageIndex - 1;
      },
      next () {
        return this.settings.pageIndex + 1;
      }
    },
    mounted () {
      this.$nextTick(() => {
      });
    },
    methods: {
    },
    components: {
    }

  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import "Pagination.scss";
</style>
