<template>
  <div class="notification-container container" :style="{ display: display}">
    <div class="notification-main" :class="{ 'active': isActive}" >
      <div class="icon">
        <h3><i class="fa fa-exclamation-circle"></i></h3>
      </div>
      <p>{{message}}</p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Notification',
    props: ['message'],
    data: function () {
      return {
        display: 'block',
        isActive: true
      }
    },
    computed: {
    },
    mounted () {
      this.$nextTick(() => {
      });
    },
    watch: {
      message: function (newVal, oldVal) {
        if (newVal !== '') {
          this.display = 'block';
          this.isActive = true;
        } else {
          this.display = 'none';
          this.isActive = false;
        }
      }

    },
    methods: {
    },
    components: {
    },
    beforeDestroy () {
      console.log('destroyed')
    }
  }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import "Notification";
</style>
