
// 전역 변수 선언
//COLOR
$represent-color: #fcb416;
$transparent: rgba(255, 255, 255, 0);
$white: #fff;
$mint: #44ced3;
$light-sky: #8adeff;
$light-mint: #94e5e1;
$black: #2f2f2f;
$grey: #ececec;
$tab-color: $mint;
$danger: #dc3545;
// size
$font-standard: 14px;

// function
@function calc-unit-rem ($target) {
  @return ($target / $font-standard)+rem;
}
//Mixin
@mixin setFontSizeAndLine ($size, $lineHeight, $fontWeight) {
  font-size: $size + px;
 line-height: $lineHeight;
  font-weight: $fontWeight;
}
@mixin config-font-color($prefix, $colors...) {
  @each $i in $colors {
    .#{$prefix}#{nth($i, 1)} {
      color: nth($i, 2) !important;
    }
  }
}
@mixin config-margin-top($prefix, $margins...) {
  @each $i in $margins {
    .#{$prefix}#{nth($i, 1)} {
      margin-top: nth($i, 2);
    }
  }
}
@mixin config-margin-bottom($prefix, $margins...) {
  @each $i in $margins {
    .#{$prefix}#{nth($i, 1)} {
      margin-bottom: nth($i, 2);
    }
  }
}
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transition: $property;
  transition: $property;
}
