<template lang="html">
    <div class="draggable-list">
        <ul class="items">
            <li v-for="(item, index) in items" class="item" :data-item="JSON.stringify(item)"
            @dragstart="handleDragStart($event, index)"
            @drag="handleDrag"
            @dragend="handleDragEnd($event, index)"
            draggable="true"
            >
            <span>{{item.id}}</span>
            </li>
        </ul>
            <!--<slot></slot>-->
    </div>
</template>

<script>
  export default {
    name: 'DraggableList',
    props: {
        items: {
            type: Array,
            default: () => []
        },
    },
    data () {
      return {
      }
    },
    mounted () {
      this.$nextTick(() => {
      });
    },
    beforeDestroy () {

    },
    methods: {
        handleDragStart(e){
            const selectedItem = e.target,
                list = selectedItem.parentNode;
        },
        handleDragEnd(e) {
            const selectedItem = e.target,
                list = selectedItem.parentNode;
            e.target.classList.remove('drag-sort-active');
            console.log('sdfjsldjkf;l',list.children)
            let items = [];

            for(let i = 0; i < list.children.length; i++) {
                let item = list.children;
                let data = item[i].dataset.item;
                items.push(JSON.parse(data))
            }
            
            console.log('result', items)
        },
        handleDrag(e) {
            e.preventDefault();

            const selectedItem = e.target,
                list = selectedItem.parentNode,
                x = e.clientX,
                y = e.clientY;

            selectedItem.classList.add('drag-sort-active');
            let swapItem = document.elementFromPoint(x, y) === null ? selectedItem : document.elementFromPoint(x, y);
            if (list === swapItem.parentNode) {
                swapItem = swapItem !== selectedItem.nextSibling ? swapItem : swapItem.nextSibling;
                list.insertBefore(selectedItem, swapItem);
//                console.log(selectedItem, swapItem)
            }
        }

    },
    components: {
    }
  }
</script>

<style lang="scss" scoped>
  @import "DraggableList";
</style>
