.draggable-list {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    li.item {
      width: 50px;
      height: 50px;
      list-style-type: none;
      &.drag-sort-active {
        background: transparent;
        color: transparent;
        border: 1px solid #4ca1af;
      }
    }
  }
}