<template>
  <transition name="modal">
    <div class="maxst-modal" v-show="show"  >
      <div class="modal-wrapper" @click="onClickBackground">
        <div class="modal-container" @click.stop :style="{'max-width': width + 'px'}">
          <div class="modal-header">
            <!--<img src="../../../assets/images/btn-x.svg" alt="close" @click="$emit('close')" class="right  maxst-modal__close">-->
            <h3 class="text-center" v-if="type === 'danger'">
              <img src="../../../../static/alert-icon.svg">
              <span class="danger">{{title}}</span>
            </h3>
            <h3 class="text-center" v-else>
              {{title}}
            </h3>
          </div>
          <div class="modal-body" >
            <article class="modal-body__content">
              <slot name="content"></slot>
            </article>
          </div>
          <div class="modal-footer text-center">
            <button  type="button" :disabled="onLoadingButton" class="emart-btn btn-lg" :class="[ onLoadingButton ? 'loading' : '']" v-show="showConfirmButton" @click="onClickConfirmed">{{showConfirmText}}</button>
            <button  type="button" class="emart-btn btn-lg" v-show="showCancelButton" @click="$emit('close')" :disabled="onLoadingButton">취소</button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    name: 'Modal',
    props: {
      type: {
        type: String,
        required: false
      },
      title: {
        type: String,
        required: false
      },
      show: {
        type: Boolean,
        required: true,
        twoWay: true
      },
      content: {
        type: Object
      },
      width: {
        type: String,
        default: '665px'
      },
      showConfirmButton: {
        type: Boolean,
        default: false
      },
      showCancelButton: {
        type: Boolean,
        default: false
      },
      showConfirmText: {
        type: String,
        default: '확인'
      },
      closeOnConfirm: {
        type: Boolean,
        default: true
      },
      closeOnBackground: {
        type: Boolean,
        default: true
      },
      onLoadingButton: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
      }
    },
    mounted () {
      this.$nextTick(() => {
      });
    },
    methods: {
      onClickBackground () {
        if (this.closeOnBackground) {
          this.$emit('close')
        }
      },
      onClickConfirmed () {
        if (this.closeOnConfirm === true) {
          this.$emit('close')
        } else {
          this.$emit('confirmed')
        }
      }
    },
    watch: {
      show: function (newVal, oldVal) { // watch it
        if (newVal) {
          $('body').css({overflow: 'hidden'});
        } else {
          $('body').css({overflow: 'auto'});
        }
      }
    },
    beforeDestroy () {
      console.log('destroyed')
    },
    components: {
    }

  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  @import "Modal.scss";
</style>
