<template>
  <transition name="modal">
    <div class="maxst-modal" v-show="show"  @click="$emit('close')">
      <div class="modal-wrapper">
        <div class="modal-container preview-modal" >
          <div class="modal-body" >
            <article class="modal-body__content">
              <img :src="imgUrl" alt="preview" @click.stop>
            </article>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    name: 'PreviewModal',
    props: {
      show: {
        type: Boolean,
        required: true,
        twoWay: true
      },
      imgUrl: {
        type: String
      }
    },
    data () {
      return {
      }
    },
    mounted () {
      this.$nextTick(() => {
      });
    },
    watch: {
      show: function (newVal, oldVal) { // watch it
        if (newVal) {
          $('body').css({overflow: 'hidden'});
        } else {
          $('body').css({overflow: 'auto'});
        }
      }
    },
    beforeDestroy () {
      console.log('destroyed')
    },
    components: {
    }

  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "Modal.scss";
</style>
