<template lang="html">
    <span class="check_box">
        <input type="checkbox" :id="id" :class="cname" :value="value"  @change="onChange"/>
        <label :for="id"></label>
    </span>
</template>

<script>
  export default {
    name: 'SingleCheckBox',
    props: ['id', 'cname', 'value'],
    data () {
      return {
      }
    },
    mounted () {
      this.$nextTick(() => {
      });
    },
    beforeDestroy () {
    },
    methods: {
      onChange () {
        this.$emit('check')
      }
    },
    components: {
    }
  }
</script>

<style lang="scss" scoped>
  @import "SingleCheckBox";
</style>
