.check_box input[type=checkbox]{
  position: absolute;
  left: -9999px;

  & + label {
    position:relative;
    cursor:pointer;
    margin:0;

    &:before {
      content:'';
      width: 20px;
      height: 20px;
      background-color:#fff;
      display:inline-block;
      vertical-align:text-bottom;
      box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
      border: solid 1px #fbb317;
    }
    &:after {
      content:url("../../../../static/checkmark.svg");
      display: inline-block;
      position: absolute;
      left: 4px;
      transition: all 0.2s ease;
      opacity: 0.1;
    }
  }

  &:checked + label:after {
    opacity:1;
  }
  &:not(:checked) + label:after {
    opacity:0.1;
  }
  &.dash + label:after {
    content: '\2014';
    opacity: 1;
    color: #fbb317;
    top: -2px;
    left: 3px;
  }
}

