<template>
  <div id="app">
    <div class="App">
      <div class="wrapper">
        <div class="workspace" ref="workspace">
          <FreeTransform
            v-for="element in elements"
            :key="element.id"
            :x="element.x"
            :y="element.y"
            :scale-x="element.scaleX"
            :scale-y="element.scaleY"
            :width="element.width"
            :height="element.height"
            :angle="element.angle"
            :offset-x="offsetX"
            :offset-y="offsetY"
            :disable-scale="element.disableScale === true"
            @update="update(element.id, $event);"
          >
            <div class="element" :style="getElementStyles(element)">
              {{ element.text }}
            </div>
          </FreeTransform>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import FreeTransform from "vue-free-transform";

  export default {
    name: "Authoring",
    components: {
      FreeTransform
    },
    data() {
      return {
        elements: [
          {
            id: "el-1",
            x: 100,
            y: 50,
            scaleX: 1,
            scaleY: 1,
            width: 100,
            height: 100,
            angle: 0,
            classPrefix: "tr",
            styles: {
              background: "linear-gradient(135deg, #0FF0B3 0%,#036ED9 100%)"
            }
          },
          {
            id: "el-2",
            x: 225,
            y: 225,
            scaleX: 1,
            scaleY: 1,
            width: 100,
            height: 100,
            angle: 0,
            classPrefix: "tr2",
            text: "Scale Enabled",
            styles: {
              padding: `5px`,
              background: "linear-gradient(135deg, #fad961 0%,#f76b1c 100%)"
            }
          },
          {
            id: "el-3",
            x: 100,
            y: 225,
            scaleX: 1,
            scaleY: 1,
            width: 100,
            height: 100,
            angle: 0,
            classPrefix: "tr2",
            text: "Scale Disabled",
            styles: {
              padding: 5,
              width: "100%",
              height: "100%",
              background: "linear-gradient(135deg, #fad961 0%,#f76b1c 100%)"
            },
            disableScale: true
          },
          {
            id: "el-4",
            x: 100,
            y: 400,
            scaleX: 1,
            scaleY: 1,
            width: 100,
            height: 100,
            angle: 45,
            classPrefix: "tr3",
            styles: {
              background: "linear-gradient(135deg, #b1ea4d 0%,#459522 100%)"
            }
          }
        ],
        offsetX: 0,
        offsetY: 0
      };
    },
    mounted() {
      this.offsetX = this.$refs.workspace.offsetLeft;
      this.offsetY = this.$refs.workspace.offsetTop;
    },
    methods: {
      update(id, payload) {
        this.elements = this.elements.map(item => {
          if (item.id === id) {
            return {
              ...item,
              ...payload
            };
          }
          return item;
        });
      },
      getElementStyles(element) {
        const styles = element.styles ? element.styles : {};
        return {
          width: `${element.width}px`,
          height: `${element.height}px`,
          ...styles
        };
      }
    }
  };
</script>


<style lang="scss">
  @import "Authoring.scss";
</style>
