<template lang="html">
<div class="search-container">
  <div class="search-box">
      <div class="search-type" @click.stop="show = true">
        {{selected.value}}&nbsp;
        <i class="fas fa-sort-down" ></i>
        <ul class="select-box" v-show="show">
          <li v-for="type in types" :class="[selected.value === type.value ? 'selected' : '']" @click.stop="onSelectType(type)">
            <img src="../../../../static/checkmark.svg" class="">
            {{type.value}}
          </li>
        </ul>
      </div>
      <div class="search-icon" @click.stop="onClick">
        <img src="../../../../static/search-icon.svg" alt="">
      </div>
      <form class="search-form" @submit.prevent="onClick">
        <input type="text" placeholder="Search" id="search" autocomplete="off" v-model="searchQuery" v-on:keyup.enter="onClick">
      </form>
  </div>
</div>
</template>

<script>
  export default {
    name: 'SearchBox',
    props: {
      types: {
        type: Array
      },
      maxlength: {
        type: Number,
        default: 3
      }
    },
    data () {
      return {
        show: false,
        searchQuery: '',
        selected: null
      }
    },
    created () {
      this.selected = this.types[0];
    },
    mounted () {
    },
    beforeDestroy () {
    },
    methods: {
      onSelectType (selected) {
        this.selected = selected;
        this.show = false;
      },
      onClick (e) {
        e.preventDefault();
        this.$emit('search', this.selected.key, this.searchQuery);
      }
    },
    components: {
    }
  }
</script>

<style lang="scss" scoped>
  @import "SearchBox";
</style>
