.search-box {
  position: relative;
  max-width: 100%;
  min-width: 230px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 14px;
  background-color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 2px #fcb416;
  .search-type {
    display: inline-block;
    font-size: 12px;
    color: #fbb317;
    line-height: 28px;
    vertical-align: middle;
    overflow: hidden;
    padding-left: 10px;
    z-index: 50;
    cursor: pointer;
    i {
      vertical-align: text-top;
    }
    .select-box {
      position: absolute;
      top: -10px;
      left: -10px;
      width: 100px;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      background-color: #ffffff;
      border: solid 1px #b7b7b7;
      padding: 10px;
      z-index: 99;

      li {
        color: #4a4c58;
        font-size: 12px;
        line-height: 1.5;
        font-weight: bold;
        padding: 3px;
        & > img {
          opacity: 0.1;
        }
        &.selected {
          color: #fbb317;
          & > img {
            opacity: 1;
          }
        }
      }
    }
  }
  .search-icon {
    position: absolute;
    top: 4px;
    right: 7px;
    z-index: 99;
    cursor: pointer;
  }
  .search-form {
    display: inline-block;
    padding: 0;
    input {
      width: 100%;
      height: 100%;
      padding-top: 0;
      padding-right: 25px;
      border: none;
      border-radius: 14px;
      padding-left: 5px;
      &::placeholder {
        opacity: 0.2;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
