<template>
  <div class="loading-container">
    <div class="loading" v-show="show"  >
      <div class="loading-image">
        <img src="../../../../static/ajax-loader.gif" alt="loading">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'loading',
    props: {
      show: {
        type: Boolean,
        required: true,
        twoWay: true
      }
    },
    watch: {
      show: function (newVal, oldVal) { // watch it
        console.log('Prop changed: ', newVal, ' | was: ', oldVal)
        if (newVal) {
          $('body').css({overflow: 'hidden'});
        } else {
          $('body').css({overflow: 'auto'});
        }
      }
    },
    data: function () {
      return {
        validation: {}
      }
    },
    mounted () {
      this.$nextTick(() => {
      });
    },
    methods: {
    },
    components: {
    }

  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import "loading.scss";
</style>
