  .loading-container {
    .loading {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(255,255,255,0);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity .3s ease;
      z-index: 999;
    }
    .loading img {
      max-width: 100%;
    }
  }

