.pagination {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: #262626;
  padding: 19px 0 12px 0;

  button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    display: inline-block;
    border-radius: 50%;
    // margin: 2px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    font-weight: normal;
    background: white;
  }

  button:focus {
    outline: none;
  }

  button.active {
    background: #24bcb7;
    color: white !important;
  }

  button:hover {
    color: #24bcb7;
  }

  button.disabled {
    color: lightgray;
    cursor: default;
  }

  .prev, .next, .doublePrev, .doubleNext {
    width: 20px;
    font-size: 16px;
    font-weight: 400;
  }

  .prev {
    margin-right: 4px;
  }
}