<template>
  <div v-if="show" class="pagination">
    <button :class="{ disabled: isDisabledDoublePrev }" :disabled="isDisabledDoublePrev" @click="moveDoublePrevPage" class="doublePrev">
      <!-- <i class="fa fa-angle-double-left"></i> -->
      ≪
    </button>
    <button :class="{ disabled: isDisabledPrev }" :disabled="isDisabledPrev" @click="movePrevPage" class="prev">
      <!-- <i class="fa fa-angle-left"></i> -->
      ＜
    </button>
    <button v-for="page in pages" class="page" :class="{ active: currentPage == 1 && page == 1 }" @click="movePage(page)">{{ page }}</button>
    <button :class="{ disabled: isDisabledNext }" :disabled="isDisabledNext" @click="moveNextPage" class="next">
      <!-- <i class="fa fa-angle-right"></i> -->
      ＞
    </button>
    <button :class="{ disabled: isDisabledDoubleNext }" :disabled="isDisabledDoubleNext" @click="moveDoubleNextPage" class="doubleNext">
      <!-- <i class="fa fa-angle-double-right"></i> -->
      ≫
    </button>
  </div>
</template>

<script>
  export default {
    name: 'Pagination',
    props: {
      show: {
        type: Boolean,
        required: true,
      },
      totalPageCount: {
        type: Number,
        required: true
      }
    },
    data () {
      return {
        currentPage: 1,
        pages: [1, 2, 3, 4, 5],
        isDisabledDoublePrev: true,
        isDisabledPrev: true,
        isDisabledNext: false,
        isDisabledDoubleNext: false,
      }
    },
    watch: {
      // 총 페이지 개수가 변경되면 감지
      totalPageCount () {
        this.setInit();
        this.setPageArrow();
        setTimeout(() => {
          this.movePage(this.currentPage);
        }, 100)
      },
      // 현재 페이지 위치가 변경되면 감지
      currentPage () {
        this.setPageArrow();
      }
    },
    methods: {
      setPageArrow () {
        // 현재 페이지가 1이고, 총 1페이지일 경우
        if (this.currentPage == 1 && this.currentPage == this.totalPageCount) {
          this.isDisabledDoublePrev = true;
          this.isDisabledPrev = true;
          this.isDisabledNext = true;
          this.isDisabledDoubleNext = true;
        }
        // 현재 페이지가 1이고, 총 페이지가 1개가 아닐 경우
        else if (this.currentPage == 1 && this.currentPage != this.totalPageCount) {
          this.isDisabledDoublePrev = true;
          this.isDisabledPrev = true;
          this.isDisabledNext = false;
          this.isDisabledDoubleNext = false;
        }
        // 현재 페이지가 1이 아니고, 현재 페이지 위치가 마지막 페이지 위치인 경우
        else if (this.currentPage != 1 && this.currentPage == this.totalPageCount) {
          this.isDisabledDoublePrev = false;
          this.isDisabledPrev = false;
          this.isDisabledNext = true;
          this.isDisabledDoubleNext = true;
        }
        // 현재 페이지가 1이 아니고, 현재 페이지 위치가 마지막 페이지 위치가 아닌 경우
        else if (this.currentPage != 1 && this.currentPage != this.totalPageCount) {
          this.isDisabledDoublePrev = false;
          this.isDisabledPrev = false;
          this.isDisabledNext = false;
          this.isDisabledDoubleNext = false;
        }
      },
      setInit () {
        if (this.show) {
          if (this.totalPageCount > 5) {
            this.pages = [1, 2, 3, 4, 5];
          }
          else {
            this.pages = [];
            for (let i = 0; i < this.totalPageCount; i++) {
              this.pages.push(i+1);
            }
          }
        }
      },
      movePage (selectedPage) {
        // this.$emit('setCurrentPage', selectedPage);
        $('html, body').stop().animate({scrollTop: 0}, 0);

        var currentThis = this;

        if (selectedPage == this.currentPage) {
          setTimeout(() => {
          $('.pagination button.page').each(function (index, item) {
            if (parseInt($(this).text()) == currentThis.currentPage) {
              $(this).addClass('active');
            } else {
              $(this).removeClass('active');
            }
          });
          }, 100)
          // return;
        }
        else if (this.pages.length < 5) {
          this.currentPage = selectedPage;
          $('.pagination button.page').each(function (index, item) {
            if (currentThis.currentPage == index + 1) {
              $(this).addClass('active');
            } else {
              $(this).removeClass('active');
            }
          });
        }
        // 가장 앞으로 이동
        else if (selectedPage == 1) {
          this.currentPage = selectedPage;
          this.pages = [];
          for (let i = 0; i < 5; i++) {
            this.pages.push(i+1);
          }
          $('.pagination button.page').each(function (index, item) {
            if (index == 0) {
              $(this).addClass('active');
            } else {
              $(this).removeClass('active');
            }
          });
        }
        // 가장 뒤로 이동
        else if (selectedPage == this.totalPageCount) {
          this.currentPage = selectedPage;
          this.pages = [];
          for (let i = 0; i < 5; i++) {
            this.pages.push(i+selectedPage-4);
          }
          $('.pagination button.page').each(function (index, item) {
            if (index == 4) {
              $(this).addClass('active');
            } else {
              $(this).removeClass('active');
            }
          });
        }
        // 기존 페이지보다 뒷 페이지 선택
        else if (this.currentPage < selectedPage) {
          this.currentPage = selectedPage;
          // 선택한 페이지가 3 초과이고, 선택한 페이지보다 뒤에 2 페이지 이상 더 존재할 때
          if (this.totalPageCount - selectedPage >= 2 && selectedPage > 3) {
            this.pages = [];
            for (let i = 0; i < 5; i++) {
              this.pages.push(i+selectedPage-2);
            }
            $('.pagination button.page').each(function (index, item) {
              if (index == 2) {
                $(this).addClass('active');
              } else {
                $(this).removeClass('active');
              }
            });
          }
          else if (this.totalPageCount - selectedPage == 1 && this.totalPageCount >= 5 && selectedPage > 3) {
            this.pages = [];
            for (let i = 0; i < 5; i++) {
              this.pages.push(i+selectedPage-3);
            }
            $('.pagination button.page').each(function (index, item) {
              if (index == 3) {
                $(this).addClass('active');
              } else {
                $(this).removeClass('active');
              }
            });
          }
          else {
            $('.pagination button.page').each(function (index, item) {
              if (parseInt($(this).text()) == currentThis.currentPage) {
                $(this).addClass('active');
              } else {
                $(this).removeClass('active');
              }
            });
          }
        }
        // 기존 페이지보다 앞 페이지 선택
        else {
          this.currentPage = selectedPage;
          if (selectedPage >= 3 && this.totalPageCount - selectedPage >= 2) {
            this.pages = [];
            for (let i = 0; i < 5; i++) {
              this.pages.push(i+selectedPage-2);
            }
            $('.pagination button.page').each(function (index, item) {
              if (index == 2) {
                $(this).addClass('active');
              } else {
                $(this).removeClass('active');
              }
            });
          }
          else if (selectedPage == 2 && this.totalPageCount - selectedPage >= 2) {
            this.pages = [];
            for (let i = 0; i < 5; i++) {
              this.pages.push(i+1);
            }
            $('.pagination button.page').each(function (index, item) {
              if (index == 1) {
                $(this).addClass('active');
              } else {
                $(this).removeClass('active');
              }
            });
          }
          else {
            $('.pagination button.page').each(function (index, item) {
              if (parseInt($(this).text()) == currentThis.currentPage) {
                $(this).addClass('active');
              } else {
                $(this).removeClass('active');
              }
            });
          }
        }
      },
      movePrevPage () {
        this.movePage(parseInt(this.currentPage) - 1);
      },
      moveNextPage () {
        this.movePage(parseInt(this.currentPage) + 1);
      },
      moveDoublePrevPage () {
        this.movePage(1);
      },
      moveDoubleNextPage () {
        this.movePage(this.totalPageCount);
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "Pagination.scss"
</style>