<template>
  <div class="products-main">
    <div class="products-upload-main">
      <div class="content">
        <div class="products-upload-block" id="products-upload-block" style="display: block;">
          <div class="input-group margin-bottom-10">
            <label class="input-group-btn">
                <span class="emart-btn btn-md">
                    <input id="" name="UploadFile[]" type="file" accept="image/*" style="display: none;" multiple value="" /> 이미지 선택
                </span>
            </label>
          </div>
          <div class="upload-block margin-bottom-10" id="uploadDisplay">
          </div>
          <div class="text-center">
            <button type="button" id="add-cloud-trackable" class="emart-btn btn-md" @click="upload">등록</button>
          </div>
        </div>
        <div class="products-upload-progress-block" id="products-upload-progress-block" style="display: none;">
          <div class="upload-summary-block">
            <div class="ui-upload-summary">
              <div class="ui-upload-summary__progressbar-block">
                <div class="ui-upload-summary__progressbar" id="ui-upload-progressbar" style="width: 0px;"></div>
              </div>
              <div class="ui-upload-summary__result-block margin-top-20">
                <div class="ui-upload-summary__info">
                  <ul>
                    <li>전체</li>
                    <li>등록 완료</li>
                    <li>등록 실패</li>
                  </ul>
                </div>
                <div class="text-center">
                  <h5 class="ui-upload-summary__inprogress">
                    등록 중입니다...
                  </h5>
                  <button type="button" class="emart-btn btn-md" id="close-upload" data-dismiss="modal">상품 관리로 돌아가기</button>
                </div>
                <div class="ui-upload-summary__desc"></div>
                <div class="ui-upload-summary__upload-table-wrap">
                  <table class="ui-upload-summary__upload-table" id="ui-upload-summary__failed-table">
                    <caption class="text-left">
                      <strong>등록 실패 목록: ( Total: <span id="ui-upload-summary__failed-table-total">0</span> )</strong>
                    </caption>
                    <colgroup>
                      <col width="30%" />
                      <col width="60%" />
                      <col width="10%" />
                    </colgroup>
                    <thead>
                    <tr>
                      <th>File Name</th>
                      <th>Status</th>
                      <th>Size</th>
                    </tr>
                    </thead>
                    <tbody class="font-12"></tbody>
                  </table>
                </div>
                <p class="text-center">
                </p>
              </div>
              <div class="text-center">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import multiFileUploadUtill from '../../utill/multiFileUploadUtill';

  export default {
    name: 'Product',
    data: function () {
      return {
      }
    },
    computed: {
    },
    created () {
    },
    mounted () {
      this.$nextTick(() => {
        multiFileUploadUtill.init('#uploadDisplay'); // 파일 업로드 UI 모듈 init 호출
      })
    },
    watch: {
    },
    methods: {
      upload () {
        const fileInfoList = multiFileUploadUtill.getFileInfo();
        if (fileInfoList.length === 0) {
          alert('선택해 짜샤');
          return;
        }
        const fileInfoListCopy = Array.from(fileInfoList);
        this.fileInfoList = fileInfoListCopy;
        this.parallelAjaxRequest();
      },
      parallelAjaxRequest () {
        $('.products-upload-block').css('display', 'none'); // 파일 업로드 창  보이게
        $('.products-upload-progress-block').css('display', 'block'); // progress block  보이게

        for (let i = 0; i < 2; i++) {
          this.fileUploader(this.fileInfoList);
        }
      },
      fileUploader () {
        if (this.fileInfoList.length === 0) {
          multiFileUploadUtill.onUploadComplete();
          this.displayFalidFiles(); // 실패한 파일 목록 표시
          return;
        }

        const data = {};
        let fileInfo = this.fileInfoList.shift();

        if (fileInfo.status !== 'deleted' && fileInfo.valid === true) {
          let name = fileInfo.fileName;
          let uploadFile = fileInfo.base64Data;
          let originalFileName = fileInfo.fileFullName;

          data.RealWidth = 1;
          data.Custom = '';
          data.Name = name;
          data.UploadFile = uploadFile;
          data.OriginalFileName = originalFileName;

          let param = { fileId: fileInfo.fileId, data: data };

          this.ajaxUploadTrackable(param).then((result) => {
            if (result === 201 || result === 400) {
              this.fileUploader(this.fileInfoList);
            }
          }).catch((result) => {
            //   result.request.abort();
            // return;
          });
        } else {
          this.fileUploader(this.fileInfoList);
        }
      },
      ajaxUploadTrackable (param) {
        const fileId = param.fileId;
        const data = param.data;

        return this.$http.post(`/Trackables/`, data).then((result) => {
          if (result.status === 201) {
            multiFileUploadUtill.setStatus(fileId, 'complete');
            return 201;
          }
        }).catch(function (result) {
          if (result.response.status === 400) {
            let errorObj = result.response.data.modelValidResult[0];
            multiFileUploadUtill.setStatus(fileId, { status: 'fail', errorMsg: errorObj.errorMessage });
            return 400;
          } else {
            multiFileUploadUtill.displaySummary(result.response.statusText);
            return result;
          }
        });
      },
      displayFalidFiles () {
        let invalidFiles = multiFileUploadUtill.invalidFileList;
        let invalidFileTotalCount = multiFileUploadUtill.invalidFileTotalCount;
        let $failedFilesTable = $('#ui-upload-summary__failed-table tbody');
        let $faildFilesTotal = $('#ui-upload-summary__failed-table-total');
        $faildFilesTotal.text(invalidFileTotalCount);
        $failedFilesTable.empty();

        invalidFiles.forEach(function (failedFile, idx) {
          if (failedFile.status !== 'deleted') {
            let fileSize = Number(failedFile.fileSize / 1024).toFixed(1);
            let html = '<tr>';
            html += '<td>' + failedFile.fileName + '</td>';
            html += '<td>' + failedFile.errorMsg + '</td>';
            html += '<td>' + fileSize + 'KB </td>';
            $failedFilesTable.append(html);
          }
        });
      }
    },
    components: {
    }
  }
</script>
<style lang="scss">
 @import "MultiFileUploadUi";
</style>
