.upload-block .ui-upload-summary {
  display: none;
}
.upload-summary-block {
  padding-top: 35px;
}
.ui-upload-wrap{
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e9e9e9;
}
.ui-upload-wrap hr {
  margin: 10px;
}
.ui-upload-container {
  height: 130px;
  overflow: auto;
}
.ui-upload-summary {
  text-align: left;
}
.ui-upload-summary__info {
  display: flex;
  justify-content: center;
}
.ui-upload-summary__info > ul {
  margin: 20px;
}
.ui-upload-summary__info > ul li{
  font-size: 14px;
  list-style: disc;
}
.ui-upload-summary .ui-upload-summary__desc {
  color: #dc3545;
}

.ui-upload-summary__progressbar-block {
  height: 21px;
  background: #e8e8e821;
  max-width: 800px;
  border-radius: 10px;
  border: 1px solid #b2b2b2;
  margin: 0 auto;
}

.ui-upload-summary__progressbar {
  width: 0;
  max-width: 100%;
  height: 100%;
  background: #fbb317;
  border-radius: 10px;
  transition:width 0.3s ease;
}
.ui-upload-summary__result {
  display: flex;
  justify-content: center;
}
.ui-upload-summary__upload-table-wrap {
  height: 200px;
  max-width: 804px;
  margin: 0 auto;
  overflow: auto;
}
.ui-upload-summary__upload-table {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;

  th{
    color: #fff;
    text-align: center;
    background-color: #b2b2b2;
    border: solid 1px #cdcdcd;
  }
  td {
    background-color: #fff;
    border-bottom: solid 1px #cdcdcd;
  }
  th, td {
    padding: 13px;
  }
  .ui-upload__fileName {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ui-upload__fileName .fa-image {
    margin: 0 5px;
  }

  .ui-upload__error {
    &.danger {
      color: #dc3545;
    }
  }

  .ui-upload__cancel .fa{
    font-size: 16px;
    color: #dc3545;
    cursor: pointer;
  }
}
.ui-upload-summary__upload-table .ui-upload__fileSize {

}
.ui-upload-summary__upload-table .ui-upload__status {

}

